{% extends 'core/base.html'  %}

{% load static %}

{% block infopag %}



<div class="container">
    <div class="row">
    
      <div class="col-lg-6 col-md-6 col-xs-4 mt-5">
       <h1> Misión</h1>
        
        Brindar un servicio de asesoría inmobiliaria personalizada orientada a cuidar el patrimonio de nuestros clientes, con ética y profesionalismo, proporcionando a nuestros clientes asesoría inmobiliaria personalizada e integral, con ética, honestidad y discreción.
      
      </div>

      <div class="col-lg-6 col-md-6 col-xs-4 mt-5">
        <h1>Visión</h1>

        Ser la mejor alternativa para quienes quieren la ayuda de un profesional inmobiliario, desde una relación cercana y resolutiva, ofreciendo las propuestas más innovadoras.
          Que nuestros clientes se sientan plenamente acompañados y asesorados durante todo el proceso de compra de una propiedad, para mejorar su calidad de vida.
          
      </div>
      <img src="{% static 'core/ImgLujo/casa.jpg' %}" class="img-fluid mx-auto d-block pt-5 pb-2 " alt="logo">

    </div>



    </div>
  </div>

{% endblock %}
         